<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>
</head>
<body>
<h1 class="text-3xl font-bold">
    Weather App
</h1>

<hr class="border border-black-1000">

<div class="bg-[rgb(38,38,37)] min-h-screen pt-10">

<form action="/weather" method="post" class="text-center text-white">
    <label for="city"> Please enter City </label><br>
    <input type="text" id="city" name="city" class="border border-gray-300 text-black"><br>

    <div class="flex justify-center gap-4 mt-2">
        <input type="submit" value="Submit" class="bg-blue-600 hover:bg-blue-300 text-white font-bold py-2 px-4 rounded">
        <button type="button" onclick="location.href='/'" class="bg-blue-600 hover:bg-blue-300 text-white font-bold py-2 px-4 rounded">Clear</button>
    </div>
</form>


{% if city %}
<div class="flex justify-center mt-4">
    <div class="bg-white rounded-lg shadow-md p-6 w-64">
        <h1 class="text-blac">Weather in {{ city }}</h1>
        <p class="text-black">Temperature: {{ temperature }}°C</p>
        <p class="text-black">Condition: {{ condition }}</p>
     <p class="text-black">Wind Speed: {{ wind_speed }} km/h</p>
    </div>
</div>
{% endif %}

{% if error %}
    <p class="text-red-500 text-center">{{ error }}</p>
{% endif %}
</div>
</body>
</html>