<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.core.js"
      crossorigin async data-callback="initMapKit" data-libraries="map">
  </script>
    <meta charset="UTF-8">
    <title>Weather App</title>

</head>
<body>
<h1 class="text-3xl font-bold text-white">
    Weather App &#9925;
</h1>



<style>
    body {
        background: linear-gradient(to right, rgb(94, 92, 95), rgb(10, 8, 10)) no-repeat fixed;
    }
</style>



<form action="/weather" method="post" class="text-center text-white">
    <label for="city"> Please enter a german City </label><br>
    <input type="text" id="city" name="city" class="border border-gray-300 text-black"><br>

    <div class="flex justify-center gap-4 mt-2">
        <input type="submit" value="Submit" class="bg-blue-600 hover:bg-blue-300 text-white font-bold py-2 px-4 rounded">
        <button type="button" onclick="location.href='/'" class="bg-blue-600 hover:bg-blue-300 text-white font-bold py-2 px-4 rounded">Clear</button>
    </div>
</form>




{% if city %}
<div class="flex justify-center mt-4">
    <div class="bg-white rounded-lg shadow-md p-6 w-64">
        <h1 class="font-bold">{
            Weather in {{ city }}


        </h1>
        <hr class="border border-black-1000">
        <p class="text-black">Temperature: {{ temperature }}°C</p>
        <p class="text-black">Condition: {{ condition }}</p>
     <p class="text-black">Wind Speed: {{ wind_speed }} km/h</p>
    </div>
</div>
{% endif %}

{% if error %}
    <p class="text-red-500 text-center">{{ error }}</p>
{% endif %}

</body>
</html>